---
layout: default
---
<div class="home">
  <div class="posts">
    {% assign published_posts = site.posts | where_exp: "post", "post.draft != true" %}
    {% assign posts_by_year = published_posts | group_by_exp: "post", "post.date | date: '%Y'"  %}
    {% for year in posts_by_year %}
      <h2>{{ year.name }}</h2>
      {% for post in year.items %}
        <p><a href="{{ post.url }}">{{ post.title }}</a> <span class="date meta">{{ post.date | date: "%m/%d"}}</span></p>
      {% endfor %}
    {% endfor %}
  </div>
</div>
