body {
    font-family: Arial, sans-serif;
    background-color: #fdf4f8;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header-content {
    justify-content: space-between;
    padding: 40px;
    align-items: center;
}

.intro h1 {
    font-size: 36px;
    color: #ff33cc;
}

.social-links a {
    margin: 0 10px;
    font-size: 24px;
    color: #ff33cc;
    text-decoration: none;
}

main {
    padding: 0 10cm; /* Отступы слева и справа */
    width: 100%;
}

main h3 {
    flex: auto;
}


.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 100%; /* Чтобы блок не выходил за пределы отступов */
    margin: 0 auto; /* Центрируем контейнер */
}

.project-card {
    background: white;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
    text-align: left;
}

.project-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.project-info {
    padding: 15px;
}

.description {
    color: #777;
}

.tech-stack {
    margin-top: 10px;
    font-size: 14px;
}

footer {
    padding: 20px;
    background: #ff33cc;
    color: white;
    text-align: center;
}

.order-btn, .tg-link {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background: #d82bb4;
    border-radius: 10px;
}
